<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDN Grid Examples</title>
</head>

<style>
    #grid {
        display: grid;
    }

    .item {
        margin: 0.25rem;
        padding: 2rem;
    }

    .item1 {
        background-color: lightblue;
    }

    .item2 {
        background-color: lightcoral;
    }

    .item3 {
        background-color: lightgray;
    }

    .item4 {
        background-color: lightgreen;
    }

    .item5 {
        background-color: lightpink;
    }
</style>

<body>
    <main>
        <section id="grid">
            <div class="item item1">1</div>
            <div class="item item2">2</div>
            <div class="item item3">3</div>
            <div class="item item4">4</div>
            <div class="item item5">5</div>
        </section>
    </main>

</body>

</html>