<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pebbles App</title>
</head>

<body>
    <h1>Pebbles App</h1>
    <main>
        <section id="pebbles-display">
            <!-- <div id="pebble1" class="pebble">&nbsp;</div>
            <div id="pebble2" class="pebble">&nbsp;</div>
            <div id="pebble3" class="pebble">&nbsp;</div>
            <div id="pebble4" class="pebble">&nbsp;</div> -->
        </section>
        <section>
            <p id="count"></p>
        </section>
    </main>
</body>
<style>
    body {
        background: black;
    }

    .pebble {
        background-color: red;
        margin: 1rem 0;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    #count {
        color: white;
    }
</style>
<script>
    let $ = (id) => document.getElementById(id)
    let state = { pebble1: false, pebble2: false, pebble3: false, pebble4: false, pebble5: false, pebble6: false }

    Object.entries(state).forEach(([name, status]) => {
        let el = document.createElement('div')
        el.id = name
        el.style.borderRadius = '50%'
        el.style.width = '3rem'
        el.style.height = '3rem'
        el.style.margin = '1rem'
        el.style.backgroundColor = 'red'
        el.addEventListener("click", event => clickHandler(event))
        el.appendChild(document.createTextNode(''))
        $('pebbles-display').appendChild(el)
    })

    const clickHandler = (event) => {
        state[event.target.id] = !state[event.target.id]
        const style = state[event.target.id] == true ? 'green' : 'red'
        event.target.style.backgroundColor = style
        const count = Object.entries(state).map(([name, status]) => status ? 1 : 0).reduce((a, b) => a + b, 0)
        $('count').innerHTML = count
    }
</script>

</html>