<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Timer App</title>
</head>

<body>
    <h1>Timer App</h1>
    <main>
        <div id="data">
            <input type="number" name="min_time" id="min_time" value=1> <br>
            <input type="number" name="max_time" id="max_time" value=4> <br>
            <button id="start_button" onclick="begin()">Start</button>
        </div>
        <p id="time">Time..</p>
    </main>
</body>
<script>
    let $ = (id) => document.getElementById(id)

    let begin = () => {


        let state = { count: 0 }
        let handler = {
            set: function (target, prop, value) {
                console.log("In the set handler function")
                document.getElementById('time').innerHTML = `${Math.round(value)} seconds left`
                target[prop] = value
            }
        }

        let proxy = new Proxy(state, handler)
        console.log('beginning timer...')
        let min = parseInt($('min_time').value)
        let max = parseInt($('max_time').value)

        proxy.count = Math.random() * (max - min) + min
        $('data').style.display = "none"

        let timer = () => {
            proxy.count = proxy.count - 1
            if (proxy.count <= 0) {
                clearInterval(counter)
                $('data').style.display = "block"
                $('time').innerHTML = 'Finished..'
                let sound = new Audio('/static/notify.wav')
                sound.play()

                return
            }
        }

        let counter = setInterval(timer, 1000)

    }
</script>

</html>